<ion-view view-title="Agregar paciente">
  <ion-content ng-controller="PatientCtrl">
    <ion-list>
      <ion-item class="item-divider">Nuevo paciente</ion-item>
      <form ng-submit="add(name)">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="name" required>
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Agregar paciente</button>
        </div>
        <ion-item class="item-divider">Lista de pacientes</ion-item>
        <ion-item ng-repeat="patient in patients | orderBy: 'name'">
          <h2 class="input-label">{{patient.name}}</h2>
        </ion-item>
      </form>
    </ion-list>
  </ion-content>
</ion-view>
